@model OnlineLearning.Models.CourseChannelViewModel
@using Microsoft.AspNet.Identity;
@{
    var userid = User.Identity.GetUserId();
}
@if (Model.CoursesList.Count == 0)
{
    <div class='w3-card w3-white w3-round-medium text-center w3-padding-32'>
        <p class='text-center centerBlock'>
            <img width='200' height='200' src='/Assest/empty.png' />
        </p>
        <h3 class='text-danger text-center bolder'>No Record</h3>
    </div>
}
else
{
    <div class="w3-row-padding">
        @foreach (var item in Model.CoursesList)
        {
            <div class="row smallPaddingTopBottom">
                <div class="w3-card w3-round-xlarge w3-white">
                    <div class="row">
                        <div class="col-md-3 w3-padding">
                            <div class="w3-tooltip w3-hide-small">
                                <span class="w3-text w3-tag" style="position:absolute;left:0;bottom:60px">@item.Name</span>
                                @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
                                {
                                    <a href="@Url.Action("manage","coursechannel",new { Id = item.Id})">
                                        <img class="w3-hide-small" src="@item.ImageSource" style="width:100%;height:150px" />
                                    </a>
                                }
                                else
                                {
                                    if (item.StudentList.Contains(userid))
                                    {
                                        <a href="@Url.Action("manage","coursechannel",new { Id = item.Id})">
                                            <img class="w3-hide-small" src="@item.ImageSource" style="width:100%;height:150px" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#">
                                            <img class="w3-hide-small" src="@item.ImageSource" style="width:100%;height:150px" />
                                        </a>
                                    }
                                }

                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <h4 class="course-channel-name bolder one-line-text" style="margin-bottom:0px" title="@item.Name">@Html.Raw(item.FormattedName)</h4>
                            </div>
                            @if (ViewContext.HttpContext.User.IsInRole("Student"))
                            {
                                <p>by <a target="_blank" class="bolder link small" href="@Url.Action("profile","account",new { Id = item.CreatorUserId})">@item.CreatorName</a></p>
                            }

                            <div class="row">
                                <p class="w3-hide-small one-line-text" title="@item.Description">
                                    @Html.Raw(item.FormattedDescription)
                                </p>
                            </div>
                            <div class="row">
                                <p class="w3-opacity-min bolder">@item.StudentCount Students</p>
                            </div>
                            <div class="row">
                                @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
                                {
                                    <p>
                                        <a class="button-border-line" href="@Url.Action("manage","coursechannel",new { Id = item.Id})"><i class="fa fa-pencil"></i> Enter & Edit</a>
                                        <span class="button-border-line w3-border-red w3-text-red w3-hover-text-white w3-hover-red pointer-cursor" onclick="deleteCourse('@item.Id','@item.Name')"><i class="glyphicon glyphicon-trash"></i> </span>
                                    </p>
                                }
                                @if (ViewContext.HttpContext.User.IsInRole("Student"))
                                {
                                    if (item.StudentList.Contains(userid))
                                    {
                                        <p><a class="button-border-line" href="@Url.Action("manage","coursechannel",new { Id = item.Id})"><i class="fa fa-play"></i> Enter & Learn</a></p>
                                    }
                                    else
                                    {
                                        <p><a class="button-border-line w3-hover-text-white w3-hover-teal w3-text-teal w3-border-teal" href="#" onclick="sureEnroll('@item.Id','@item.Name')"><i class="glyphicon glyphicon-plus-sign"></i> Enroll</a></p>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
}





