@model OnlineLearning.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}
    <div class="row">
        <div class="w3-card w3-white w3-padding-16">
            <div class="row text-center padding-0">
                @Html.Partial("~/Views/Shared/_SuccessErrorMessage.cshtml")
            </div>
            <div class="row text-center small-margin-top">
                <h3 class="text-indigo bolder">Change Password</h3>
            </div>
            <div class="row col-md-6 centerBlock">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                <div class="smallPaddingTopBottom">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
                    <div class="smallPaddingTopBottom">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="smallPaddingTopBottom">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="row text-center">
                        <button class="button-indigo" type="submit">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
<script>
      if ('@TempData["ChangePasswordSuccess"]' != null && '@TempData["ChangePasswordSuccess"]' != "") {
        displaySuccess("@TempData["ChangePasswordSuccess"]");
    }
    function showHidePassword(passwordId) {
        var eyeOpenIcon = document.getElementById("eyeOpenIcon");
        var eyeCloseIcon = document.getElementById("eyeCloseIcon");
        var passwordInput = document.getElementById(passwordId);
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeOpenIcon.style.display = 'none';
            eyeCloseIcon.style.display = "inline-block";
        } else {
            passwordInput.type = "password";
            eyeOpenIcon.style.display = "inline-block";
            eyeCloseIcon.style.display = 'none';
        }      
    }
</script>
