@model OnlineLearning.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="largePaddingTopBottom">
    <div class="row">
        <div class="col-md-10 centerBlock">
            <div class="col-md-12 w3-white padding-32" style="border-radius:10px">
                <div class="col-md-5">
                    <img src="~/Assest/login.png" class="img-responsive" /> <!--1080px * 1080px-->
                </div>
                <div class="col-md-6" style="padding-left:0px">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                    <div class="w3-padding-24 ">
                        <h3 class="text-indigo text-center bolder" style="margin-bottom:5px"><b>FORGOT PASSWORD</b></h3>
                        <div class="small text-center">Enter your registered Email Address and you will receive a  reset password link in the email. Please check also junk mail box.</div>
                    </div>
                        @Html.ValidationSummary("", new { @class = "text-danger text-center" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label required" })
                            <div class="col-md-9">
                                @Html.Kendo().TextBoxFor(m => m.Email)
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group w3-padding-16">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Email Link" class="button-indigo width100" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

